<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.certusws.tracenium.privsvc</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>/Library/Application Support/Tracenium/PrivSvc/macos/dist/index.js</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Library/Logs/Tracenium/privsvc-macos.stdout.log</string>

  <key>StandardErrorPath</key>
  <string>/Library/Logs/Tracenium/privsvc-macos.stderr.log</string>

  <key>WorkingDirectory</key>
  <string>/Library/Application Support/Tracenium/PrivSvc/macos</string>
</dict>
</plist>
